<div class="container">
  <h1 class="logo"><a tabindex="2" accesskey="1" href="/"><img src="/static/opensuselogo.png" width="70"
        height="65" /></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sample AI WebApp</h1>

  <div class="row g-0 bg-light position-relative">
    <div class="col-md-3 mb-md-0 p-md-5">
      <img src="/static/aichat.png" class="w-100" alt="sampleapp">
    </div>
    <div class="col-md-8 p-8 ps-md-0"><p>
      <br><br>
      <h4 class="mt-0">Open-WebUI Chat client in Golang</h4><p>
      Sample golang app that talks to Open-WebUI API<p>
      </p>
      <a href="/openwebuichat"><button type="button" class="btn btn-primary btn-sm">Launch</button></a>&nbsp;&nbsp;&nbsp;
    </div>
  </div>

  <hr>
</div>
